.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    padding: {
        left: 5px;
        right: 5px;
    };

    &:focus {
        outline: none;
    }
}

.error {
    border: solid red 1px;

    &:focus {
        border: 1px solid red;
    }
}
