body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Raleway;
}

@font-face {
    font-family: RalewayLight;
    src: url(../assets/fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: RalewayLightItallic;
    src: url(../assets/fonts/Raleway/Raleway-LightItalic.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: RalewayItallic;
    src: url(../assets//fonts/Raleway/Raleway-Italic.ttf);
}

@font-face {
    font-family: RalewaySemiBold;
    src: url(../assets/fonts/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: RalewaySemiBoldItallic;
    src: url(../assets/fonts/Raleway/Raleway-SemiBoldItalic.ttf);
}

@font-face {
    font-family: RalewayBold;
    src: url(../assets/fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: RalewayBoldItallic;
    src: url(../assets//fonts/Raleway/Raleway-BoldItalic.ttf);
}
