.app {
    background-image: linear-gradient(
        to left bottom,
        #eeaeca,
        #d9b9e7,
        #b9c7f7,
        #9dd3f7,
        #94dce9
    );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
