.app {
    background-image: linear-gradient(
        to left bottom,
        #eeaeca,
        #d9b9e7,
        #b9c7f7,
        #9dd3f7,
        #94dce9
    );
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: {
        top: 20px;
        bottom: 20px;
        left: 10px;
        right: 10px;
    }
}
